<div class="flex justify-evenly">
    <app-date-picker (dateChangeEvent)="onDateChange($event)" ></app-date-picker>
    <button (click)="openCreationModal()" class="px-4 py-2 bg-purple-500 text-white
    text-base font-medium rounded-md w-80
    shadow-sm hover:bg-purple-600 focus:outline-none focus:ring-2 focus:ring-purple-300"> create task </button>
</div>

<ul class ="flex-wrap">
    <li     
    *ngFor="let task of tasks;" >
        <app-task [task]="task" (onEditTask)="editTask(task)"></app-task>
    </li>
</ul>   
<!-- applies blur to background of modal-->
<div *ngIf="creationModalActive" class="fixed top-0 left-0 w-full h-full opacity-50 bg-slate-500"></div>
<app-task-creation-modal *ngIf="creationModalActive" (createTask)="saveTask($event)" (cancelCreation)="closeCreationModal()" class="insert-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" ></app-task-creation-modal>

